# load asdf-direnv - https://github.com/asdf-community/asdf-direnv#the-envrc-file-in-your-project-root
source "$(asdf direnv hook asdf)"
use asdf

# Activate .composer/vendor/bin if PHP project
[[ ! -f composer.json ]] || PATH_add "$PWD/vendor/bin"

# Activate node_modules/.bin if Node project
[[ ! -f package.json ]] || PATH_add "$PWD/node_modules/.bin"

# You can add other variables you want available via direnv.  Configuration
# variables for devkit itself, however, should go in .dkrc unless they need
# to be available via direnv as well.

# See $DOTFILES/sample.envrc
# or make a copy with: cp $DOTFILES/sample.envrc ./.envrc
