DOTFILES_DIR="${DOTFILES_DIR:-$HOME/dotfiles}"
CUSTOM_ENVRC="$DOTFILES_DIR/customs/.envrc"

# if the dotfiles folder has a custom .envrc, load it
if [[ -f "$CUSTOM_ENVRC" ]]; then
  source_env "$CUSTOM_ENVRC"
fi

# use asdf

# Activate .composer/vendor/bin if PHP project
[[ ! -f composer.json ]] || PATH_add "$PWD/vendor/bin"

# Activate node_modules/.bin if Node project
[[ ! -f package.json ]] || PATH_add "$PWD/node_modules/.bin"

# You can add other variables you want available via direnv.  Configuration
# variables for devkit itself, however, should go in .dkrc unless they need
# to be available via direnv as well.

# See $DOTFILES/sample.envrc
# or make a copy with: cp $DOTFILES/sample.envrc ./.envrc
